// Tamaños de fuente generales
$font-size-base: 16px;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 32px;

// Tamaños de fuente para títulos
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

// Espaciados
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-mdd: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
